:root{
    --font-fam: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, 
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    --purple-color: #e330ce;
    --black-color: #222;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--black-color);
    min-height: 100vh;
    padding: 25px 35px;
    color: #222;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.notification-container{
    background: #1a1a1a;
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 25px 35px 30px;
    border-radius: 8px;
    border: 1px solid #e330ce ;
}
.notification-heading{
    font-size: 20px;
    font-weight: 600;
    color: var(--purple-color);
    font-family: var(--font-fam);
    letter-spacing: 1.2px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e330ce;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 70px;
}
.notification-heading i{
    cursor: pointer;
    color: var(--purple-color);
}
.notification{
    width: 100%;
    min-height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--black-color);
    color: #FFF;
    border-left: 3px solid #e330ce;
    border-radius: 7px;
    margin-bottom: 16px;
    padding: 13px 18px;
    transition: all 0.2s ease;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); */
}
.notification:hover{
    transform: translateY(-2px);
    background-color: #2a2a2a; /* slightly lighter than default dark card */
    box-shadow: 0 4px 12px rgba(255, 20, 145, 0.253); /* soft pink glow */
    border-left-width: 5px; /* accent bar gets slightly thicker on hover */
}
.avatar{
    width: 52px;
    height: 52px;
    min-width: 52px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 16px;
}
.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.avatar i{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--purple-color);
    color: var(--black-color);
    font-size: 22px;
}
.notification-content{
    flex: 01;
    line-height: 1.4;
    margin-left: 15px;
}
.notification-title{
    font-size: 18px;
    font-family: var(--font-fam);
    font-weight: 600;
    color: #ffffff;
}
/* .notification-title:hover{
    color: var(--purple-color);
} */
.notification-descrption{
    font-size: 14px;
    color: #A8A8C0;
}
.notification-date {
    background: var(--purple-color);
    color: var(--black-color);
    font-weight: 400;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: transform 0.5s;
}
.notification-date:hover{
    transform: translate(5px);
}
.notification-time{
    font-size: 12px;
    color: #7A7A8C;
}
.load-more-container{
    display: flex;
    margin-top: 25px;
}
.load-more{
    display: inline-block;
    background: #fff;
    color: var(--black-color);
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 9px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.6s;
}
 .load-more:hover{
    background: var(--purple-color);
    color: #fff;
    transform: translate(-7px);
}